<ion-app>
  <ion-header>
    <ion-toolbar class="header-style">
      <ion-title>
        <h1 style="color: #fff; text-shadow: 2px 2px black"><b>Gabriela Cola</b></h1>
        <h6 style="color: #206B75">Software Developer</h6>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="section1">
      <h1 class="titles"><b>Sobre mi</b></h1>
      <div class="divider-style"></div>
      <h6>Apasionada por el desarrollo web.<br/>Futura UI/ReactJs Developer</h6>
      <ion-grid class="ion-align-items-center">
        <ion-row>
          <ion-col size="12" size-lg="3" size-md="12" class="ion-align-self-center">
            <img alt="Gabriela_Cola" src="assets/images/profile_me.jpg" class="avatar-style">
          </ion-col>
          <ion-col size="12" size-lg="3" size-md="6" class="ion-align-self-center">
            <ion-text>
              <p>
                <ion-icon name="caret-forward-outline" class="icon-style"></ion-icon>
                <span class="info-item">Fecha de nacimiento: </span><span>21/08/1997</span>
              </p>
            </ion-text>
            <ion-text>
              <p>
                <ion-icon name="caret-forward-outline" class="icon-style"></ion-icon>
                <span class="info-item">Teléfono: </span><span>+593 963881061</span>
              </p>
            </ion-text>
            <ion-text>
              <p>
                <ion-icon name="caret-forward-outline" class="icon-style"></ion-icon>
                <span class="info-item">Ciudad: </span><span>Quito, EC</span>
              </p>
            </ion-text>
          </ion-col>
          <ion-col size="12" size-lg="3" size-md="6" class="ion-align-self-center">
            <ion-text>
              <p>
                <ion-icon name="caret-forward-outline" class="icon-style"></ion-icon>
                <span class="info-item">Edad: </span><span>23 años</span>
              </p>
            </ion-text>
            <ion-text>
              <p>
                <ion-icon name="caret-forward-outline" class="icon-style"></ion-icon>
                <span class="info-item">Grado: </span><span>Estudiante de Educación Superior</span>
              </p>
            </ion-text>
            <ion-text>
              <p>
                <ion-icon name="caret-forward-outline" class="icon-style"></ion-icon>
                <span class="info-item">Email: </span><span>gaby.2ax.88@gmail.com</span>
              </p>
            </ion-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="section2">
      <h1 class="titles"><b>Habilidades</b></h1>
      <div class="divider-style"></div>
      <h6>Curiosa, comunicativa, detallista y proactiva.<br/>Buen desempeño tanto en trabajo colaborativo como
        independiente.</h6>
      <ion-grid class="ion-align-items-center">
        <ion-row>

          <ion-col size="12" size-md="6" class="ion-align-self-center">
            <div>
              <h6 style="float: left" class="info-item">PROTOTIPADO (Figma, Marvel, Canva)</h6>
              <h5 style="float: right; color: rgba(113, 229, 245, 0.75); font-weight: bold">60%</h5>
            </div>
            <ion-progress-bar value="0.6" buffer="0.4" color="secondary" class="bar-style"></ion-progress-bar>
          </ion-col>

          <ion-col size="12" size-md="6" class="ion-align-self-center">
            <div>
              <h6 style="float: left" class="info-item">MAQUETACIÓN (Bootstrap, AntD, MaterialUI)</h6>
              <h5 style="float: right; color: rgba(113, 229, 245, 0.75); font-weight: bold">80%</h5>
            </div>
            <ion-progress-bar value="0.8" buffer="0.2" color="secondary" class="bar-style"></ion-progress-bar>
          </ion-col>

          <ion-col size="12" size-md="6" class="ion-align-self-center">
            <div>
              <h6 style="float: left" class="info-item">DESARROLLO WEB</h6>
              <h5 style="float: right; color: rgba(113, 229, 245, 0.75); font-weight: bold">80%</h5>
            </div>
            <ion-progress-bar value="0.8" buffer="0.2" color="secondary" class="bar-style"></ion-progress-bar>
          </ion-col>

          <ion-col size="12" size-md="6" class="ion-align-self-center">
            <div>
              <h6 style="float: left" class="info-item">DESARROLLO MÓVIL</h6>
              <h5 style="float: right; color: rgba(113, 229, 245, 0.75); font-weight: bold">50%</h5>
            </div>
            <ion-progress-bar value="0.5" buffer="0.5" color="secondary" class="bar-style"></ion-progress-bar>
          </ion-col>

          <ion-col size="12" size-md="6" class="ion-align-self-center">
            <div>
              <h6 style="float: left" class="info-item">BBDD RELACIONALES</h6>
              <h5 style="float: right; color: rgba(113, 229, 245, 0.75); font-weight: bold">70%</h5>
            </div>
            <ion-progress-bar value="0.7" buffer="0.3" color="secondary" class="bar-style"></ion-progress-bar>
          </ion-col>

          <ion-col size="12" size-md="6" class="ion-align-self-center">
            <div>
              <h6 style="float: left" class="info-item">BBDD NO RELACIONALES</h6>
              <h5 style="float: right; color: rgba(113, 229, 245, 0.75); font-weight: bold">70%</h5>
            </div>
            <ion-progress-bar value="0.7" buffer="0.3" color="secondary" class="bar-style"></ion-progress-bar>
          </ion-col>

        </ion-row>
      </ion-grid>
    </div>
    <div class="section1">
      <h1 class="titles"><b>Curriculum</b></h1>
      <div class="divider-style"></div>
      <ion-grid>
        <ion-row class="ion-align-items-center">
          <ion-col size="12" size-md="6" class="ion-align-self-start">
            <h4 class="title-curriculum">Educación</h4>
            <div class="vertical-divider">
              <ion-text>
                <h6 class="subtitle-curriculum">
                  <ion-icon name="caret-forward-outline" class="icon-style"></ion-icon>
                  BACHILLERATO GENERAL UNIFICADO
                </h6>
                <div class="box-style">Promoción 2015</div>
                <p>Colegio Nacional Amazonas, Quito EC</p>
              </ion-text>
              <br/>
              <ion-text>
                <h6 class="subtitle-curriculum">
                  <ion-icon name="caret-forward-outline" class="icon-style"></ion-icon>
                  TECNOLOGÍA SUPERIOR EN DESARROLLO DE SOFTWARE
                </h6>
                <div class="box-style">Promoción 2021</div>
                <p>Escuela Politécnica Nacional ESFOT, Quito EC</p>
              </ion-text>
              <br/>
              <!--              <ion-text>-->
              <!--                <h6 class="subtitle-curriculum">-->
              <!--                  <ion-icon name="caret-forward-outline" class="icon-style"></ion-icon>-->
              <!--                  LICENCIA PROFESIONAL TIPO C-->
              <!--                </h6>-->
              <!--                <div class="box-style">Promoción 2020</div>-->
              <!--                <p>Escuela de Capacitación de Conductores Profesionales del Instituto Mayor Pedro Traversari, Quito-->
              <!--                  EC-->
              <!--                </p>-->
              <!--              </ion-text>-->
            </div>
            <h4 class="title-curriculum">Idiomas</h4>
            <div class="vertical-divider">
              <ion-text>
                <h6 class="subtitle-curriculum">
                  <ion-icon name="caret-forward-outline" class="icon-style"></ion-icon>
                  INGLÉS
                </h6>
                <div class="box-style">Nivel B2</div>
                <p>Centro de Educación Continua (CEC), Quito EC</p>
              </ion-text>
              <br/>
              <ion-text>
                <h6 class="subtitle-curriculum">
                  <ion-icon name="caret-forward-outline" class="icon-style"></ion-icon>
                  FRANCÉS
                </h6>
                <div class="box-style">Nivel B1</div>
                <p>IES Mariano Baquero Goyanes, Murcia ES</p>
              </ion-text>
              <br/>
            </div>
          </ion-col>
          <ion-col size="12" size-md="6" class="ion-align-self-start">
            <h4 class="title-curriculum">Experiencias</h4>
            <div class="vertical-divider">
              <ion-text>
                <h6 class="subtitle-curriculum">
                  <ion-icon name="caret-forward-outline" class="icon-style"></ion-icon>
                  PROYECTO "REDESCUBRIENDO LA ENSEÑANZA"<br/>Capacitación en Herramientas
                  Digitales
                </h6>
                <div class="box-style"> Periodo: 2020</div>
                <p><b>Cargo: </b>Coordinadora de planificación académica</p>
                <p><b>Contacto: </b>Luis Ponce | luis.ponce@epn.edu.ec</p>
              </ion-text>
              <br/>
              <ion-text>
                <h6 class="subtitle-curriculum">
                  <ion-icon name="caret-forward-outline" class="icon-style"></ion-icon>
                  GRUPO MENTA<br/>Experiencias de Software
                </h6>
                <div class="box-style"> Periodo: 7 meses</div>
                <p><b>Cargo: </b>Junior Software Developer</p>
                <p><b>Contacto: </b>Edwin Salvador | chalosalvador@gmail.com</p>
              </ion-text>
              <br/>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </ion-content>
  <!--  <ion-footer>-->
  <!--    <ion-toolbar>-->
  <!--      <ion-title>Footer</ion-title>-->
  <!--    </ion-toolbar>-->
  <!--  </ion-footer>-->
</ion-app>
